# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyInstaller Build Output
dist/
build/
*.spec

# Local environment / dependencies
.venv/
venv/
ENV/
env/

# Model GGUF binaries and large weights
models/
*.gguf
*.bin
*.pt
*.onnx
.model_path
pip-cache/
.cache/

# CodeCarbon temporary outputs & local temp files
emmissions.csv
emissions.csv
temp_*.mp3
*.wav
*.lnk
*.zip
session_review.json

# System files
.DS_Store
Thumbs.db
